.container{
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    
    &:hover{
      cursor: pointer;
    }
    svg{
      width: 36px;
      height: 36px;
    }
  }
  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .menu{
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    p{
      font-family: 'Pretendard';
      font-weight: 500;
      color: '#6A6F77';
    }
    li {
      display: flex;
      flex-flow: column;
      align-items: center;
      color: #737373;
      > div{
      &:first-child{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #F0EDFF;
          cursor: pointer;
        }
      }
    }
    }
  }
}