.container{
	padding-left: 0;
	padding-right: 0;
	padding: 24px;
	height: 100vh;
	box-sizing: border-box;
	// height: calc(100vh - 48px);
	display: flex;
	flex-flow: column;
	// padding: 30px 24px;
	justify-content: space-between;
	align-items: center;
	color: black;

	.wrapper{
		position: relative;
		height: 100%;
		flex: 1;
		overflow-y: auto;
		padding: 30px 24px;

		width: 100%;
		max-width: 768px;
		display: flex;
		flex-flow: column;
		&::-webkit-scrollbar{
      display: none;      
    }

		.toolItems{
			width: 100%;
			min-width: 512px;
			display: flex;
			flex-flow: column;
			background-color: transparent;
			box-sizing: border-box;
			padding: 0;
			gap: 12px;
			border-radius: 12px;
			
			h6{
				font-family: 'Pretendard';
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
			}
		}
	}

	.user{
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-self: flex-end;
		gap: 10px;
		margin-bottom: 10px;

		> p {
			position: relative;
			padding: 12px 20px;;
			background-color: #F0EDFF;
			border-radius: 12px;
			border-bottom-right-radius: 0px;
			z-index: 100;
		}
		button{
			align-self:flex-end;
			border-radius: 16px;
			height: 32px;
			padding: 0 12px;
			border: 1px solid #E0E4E5;
			background-color: #FFFFFF;
			opacity: 0;
			visibility: hidden;
			transition-property: opacity, visibility;
			transition-duration: 0.1s;
			transition-timing-function: ease-in-out;
			transition-delay: 0.1s;

			&:hover{
				background-color: #F9FAFB;
			}
			&:focus{
				outline: none;
			}
			p {
				color: #6A6F77;
				font-family: 'Pretendard';
				font-weight: 400;
				font-size: 14px;
				text-transform: capitalize;
			}
		}
		&:hover{
			cursor: default;

			button {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.assistant{
		width: 90%;
		display: flex;
		flex-flow: column;
		margin-bottom: 40px;
		white-space: pre-wrap;
		align-self: flex-start;
		gap: 12px;
		&:hover{
			cursor: default;
		}
		.content{
			display:flex;
			gap: 12px;
		}
		
	}
	.scroll{
		margin-bottom: 80px;
	}
}